Repository MegaDaimond/main-perp-perp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MegaDaimond, @Evgencheg, @BL02DL, @BitBoxxxer, @PowerKAT1

4
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-light.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-unshaded-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET.png
Owners: @MegaDaimond, @Evgencheg

5
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/meta.json
Owners: @MegaDaimond, @Evgencheg

6
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/equipped-OUTERCLOTHING-lamia.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/basic.rsi/equipped-OUTERCLOTHING.png
Owners: @MegaDaimond, @Evgencheg

7
  Resources/Audio/_NF/Effects/attributions.yml
Owners: @MegaDaimond, @Evgencheg

9
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/kilt.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Backpacks/ertmailcarrier.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Duffels/arcadia.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/atmospherics.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/chemistry.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/clown.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/color.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/genetics.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/mailman.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/medical.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/messenger.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/mime.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/science.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Messenger/virology.rsi/meta.json
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/meta.json
  Resources/Textures/_NF/Clothing/Eyes/Glasses/arcadia.rsi/meta.json
  Resources/Textures/_NF/Clothing/Hands/Gloves/arcadia.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Mantles/bounty_hunter_mantle.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/blood_drop.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/glorious_order.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_bronze.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_civviegold.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_gold.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_silver.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/star_civviesilver.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/star_gold.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/mercenary_iff.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/palbadge.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/WinterCoats/arcadia.rsi/meta.json
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/arcadia.rsi/meta.json
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/arcadia.rsi/meta.json
Owners: @MegaDaimond, @Evgencheg

10
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/_NF/Palettes/frontier.yml
  Resources/Prototypes/_NF/Palettes/yipyip.yml
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/hair.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/equipped-HELMET-cat.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/meta.json
Owners: @MegaDaimond, @Evgencheg

11
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
Owners: @MegaDaimond, @Evgencheg

13
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_tails.rsi/meta.json
Owners: @MegaDaimond, @Evgencheg

14
  Resources/Prototypes/_NF/Palettes/frontier.yml
  Resources/Prototypes/_NF/Palettes/liquids.yml
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/meta.json
Owners: @MegaDaimond, @Evgencheg

15
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @MegaDaimond, @Evgencheg

16
  Resources/Locale/en-US/_NF/species/names/sheleg_female.ftl
  Resources/Locale/en-US/_NF/species/names/sheleg_last.ftl
  Resources/Locale/en-US/_NF/species/names/sheleg_male.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/sheleg_female.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/sheleg_last.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/sheleg_male.ftl
  Resources/Locale/ru-RU/_NF/datasets/species.ftl
  Resources/Prototypes/_NF/Names/sheleg_female.yml
  Resources/Prototypes/_NF/Names/sheleg_last.yml
  Resources/Prototypes/_NF/Names/sheleg_male.yml
Owners: @PowerKAT1, @MegaDaimond, @Evgencheg

17
  Resources/Locale/en-US/_NF/species/species.ftl
  Resources/Locale/ru-RU/_NF/datasets/species.ftl
Owners: @PowerKAT1

18
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Misc/misc.yml
  Resources/Prototypes/_NF/tags.yml
Owners: @MegaDaimond, @Evgencheg

19
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Audio/_NF/Effects/Gasp/attributions.yml
  Resources/Audio/_NF/Effects/Gasp/sheleg_deathgasp_1.ogg
  Resources/Audio/_NF/Effects/Gasp/sheleg_gasp_1.ogg
  Resources/Locale/en-US/_NF/species/names/sheleg_female.ftl
  Resources/Locale/en-US/_NF/species/names/sheleg_last.ftl
  Resources/Locale/en-US/_NF/species/names/sheleg_male.ftl
  Resources/Locale/en-US/_NF/species/species.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/sheleg_female.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/sheleg_last.ftl
  Resources/Locale/ru-RU/_NF/datasets/names/sheleg_male.ftl
  Resources/Locale/ru-RU/_NF/datasets/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/body/organs/sheleg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/body/parts/sheleg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/player/sheleg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/mobs/species/sheleg.ftl
  Resources/Prototypes/_NF/Body/Organs/sheleg.yml
  Resources/Prototypes/_NF/Body/Parts/sheleg.yml
  Resources/Prototypes/_NF/Body/Prototypes/human.yml
  Resources/Prototypes/_NF/Body/Prototypes/sheleg.yml
  Resources/Prototypes/_NF/Chemistry/metabolism_groups.yml
  Resources/Prototypes/_NF/Chemistry/metabolizer_types.yml
  Resources/Prototypes/_NF/Damage/modifier_sets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/sheleg.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/sheleg.yml
  Resources/Prototypes/_NF/Names/sheleg_female.yml
  Resources/Prototypes/_NF/Names/sheleg_last.yml
  Resources/Prototypes/_NF/Names/sheleg_male.yml
  Resources/Prototypes/_NF/SoundCollections/deathgasp.yml
  Resources/Prototypes/_NF/SoundCollections/gasp.yml
  Resources/Prototypes/_NF/Species/sheleg.yml
Owners: @BL02DL, @BitBoxxxer, @MegaDaimond, @Evgencheg, @PowerKAT1

21
  Resources/Prototypes/_NF/Entities/Clothing/Neck/badges.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Palettes/yipyip.yml
Owners: @MegaDaimond, @Evgencheg

22
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
Owners: @MegaDaimond, @Evgencheg

23
  Resources/Textures/_NF/Effects/LightMasks/beam.png
  Resources/Textures/_NF/Effects/LightMasks/narrow_cone.png
  Resources/Textures/_NF/Effects/LightMasks/skullmask.png
Owners: @MegaDaimond, @Evgencheg

24
  Content.Shared/Decals/ColorPalettePrototype.cs
Owners: @BL02DL, @BitBoxxxer

25
  Content.Shared/Decals/ColorPalettePrototype.cs
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel_color.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuits-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/balaclavas.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits_departmental.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/boots_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/_NF/Palettes/cyberpunk.yml
  Resources/Prototypes/_NF/Palettes/frontier.yml
  Resources/Prototypes/_NF/Palettes/liquids.yml
Owners: @BL02DL, @BitBoxxxer, @MegaDaimond, @Evgencheg

26
  Resources/Prototypes/_NF/Entities/Clothing/Masks/balaclavas.yml
Owners: @MegaDaimond, @Evgencheg

27
  Resources/Locale/en-US/_DV/datasets/names/oni.ftl
  Resources/Locale/en-US/_DV/markings/Oni.ftl
  Resources/Locale/en-US/_DV/species/namepreset.ftl
  Resources/Locale/ru-RU/_DV/datasets/names/oni.ftl
  Resources/Locale/ru-RU/_DV/datasets/names/vulpkanin.ftl
  Resources/Locale/ru-RU/_DV/markings/Oni.ftl
  Resources/Locale/ru-RU/_DV/species/namepreset.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/Oni_horns.yml
Owners: @PowerKAT1, @MegaDaimond, @Evgencheg

28
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/tags.yml
Owners: @MegaDaimond, @Evgencheg

Eurointegration
  Resources/Locale/en-US/_NewParadise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_NewParadise/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NewParadise/Catalog/uplink_catalog.yml
Owners: @PowerKAT1, @MegaDaimond, @Evgencheg

Update uplink_catalog.yml
  Resources/Prototypes/_NewParadise/Catalog/uplink_catalog.yml
Owners: @MegaDaimond, @Evgencheg

-мусор
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/cow_ears.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/cow_horns.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/cow_spots.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/deer_antlers_horns.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/demon_ears.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/demon_tail.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/ears_elf.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/goatee.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/guards_stripes.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_buffalo.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_capricorn.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_devil.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_devil2.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_devil3.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_devil4.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_ram.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/horns_unicorn.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/lines_emperos.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/long.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/queen_lines.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/small_horns.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/tree_lines.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/trinity_spots.png
  Resources/Textures/Mobs/Customization/Demon/custom.rsi/up.png
Owners: @MegaDaimond, @Evgencheg

sussus
  Resources/Prototypes/_NewParadise/Entities/Mobs/Player/demon.yml
  Resources/Prototypes/_NewParadise/Entities/Mobs/Species/demon.yml
Owners: @MegaDaimond, @Evgencheg

Update batons.yml
  Resources/Prototypes/_NewParadise/Entities/Objects/Weapons/Melee/batons.yml
Owners: @MegaDaimond, @Evgencheg

фикусы
  Resources/Locale/en-US/_NewParadise/markings.ftl
  Resources/Locale/en-US/_NewParadise/species/species.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/mobs/player/demon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_newparadise/entities/mobs/species/demon.ftl
  Resources/Locale/ru-RU/_NF/vehicles.ftl
  Resources/Locale/ru-RU/_NewParadise/markings.ftl
  Resources/Locale/ru-RU/_NewParadise/prototypes/entities/mobs/customization/markings/Human.ftl
  Resources/Locale/ru-RU/_NewParadise/prototypes/entities/mobs/customization/markings/demon.ftl
  Resources/Locale/ru-RU/_NewParadise/prototypes/entities/species/demon.ftl
  Resources/Locale/ru-RU/_NewParadise/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/mobs/player/demon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_newparadise/entities/mobs/species/demon.ftl
Owners: @PowerKAT1

закину ка сюда переводы движка
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
  Resources/Locale/ru-RU/robust-toolbox/commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/dev-window.ftl
  Resources/Locale/ru-RU/robust-toolbox/discordRPC.ftl
  Resources/Locale/ru-RU/robust-toolbox/entity-category.ftl
  Resources/Locale/ru-RU/robust-toolbox/physics/grid_merging.ftl
  Resources/Locale/ru-RU/robust-toolbox/userinterface.ftl
  Resources/Locale/ru-RU/robust-toolbox/view-variables.ftl
Owners: @PowerKAT1

bruh
  Resources/Locale/en-US/_NewParadise/job/job-names.ftl
  Resources/Locale/en-US/markings/vulpkanin.ftl
  Resources/Locale/ru-RU/_NewParadise/job/job-names.ftl
  Resources/Locale/ru-RU/markings/vulpkanin.ftl
  Resources/Prototypes/_NewParadise/Roles/Jobs/CentCom/blueshieldoficer.yml
Owners: @PowerKAT1, @MegaDaimond, @Evgencheg

ass
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/OuterClothing/NPZ.yml
  Resources/Prototypes/_NewParadise/Entities/Clothing/OuterClothing/hardsuits.yml
Owners: @MegaDaimond, @Evgencheg

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @MegaDaimond @Evgencheg

# C#
*.cs @BL02DL @BitBoxxxer
*.xaml @BL02DL @BitBoxxxer

# Map files
/Resources/Prototypes/Maps/** @PowerKAT1
/Resources/Prototypes/**/Maps/** @PowerKAT1
/Resources/Maps/** @PowerKAT1

# Translations
*.ftl @PowerKAT1

# Guides
*.xml @PowerKAT1
